$website-width: 1280px;
$main-color: #a05ff3;
$light-color: #deccf5;
$medium-color: #725696;
$dark-color: #402266;
$bg-image: url("../img/me.jpeg");
$font-family: "Dosis", sans-serif;

@function setTextColor($color) {
  @if (lightness($color) > 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}
